<div class="widget-box">
  <div class="widget-content nopadding">
    <%= simple_form_for @location, :url => admin_location_path(@location), :method => :put, :wrapper => :admin do |l| %>
      <%= render :partial => 'form', :locals => { :f => l } %>
    <% end %>
  </div>
</div>