
<div class="widget-box">
  <div class="widget-content nopadding">
    <%= simple_form_for @sixbook, :url => admin_sixbook_path(@sixbook), :method => :put, :wrapper => :admin do |s| %>
      <%= render :partial => 'form', :locals => { :f => s } %>
    <% end %>
  </div>
</div>