<ul class="nav btn-group">
  <li class="btn btn-inverse">
    <%= link_to(edit_user_registration_path, method: :get) do %>
      <i class="icon icon-user"></i>
      <span class="text">Setting</span>
    <% end %>
  </li>
  <% if user_signed_in?%>
    <li class="btn btn-inverse">
      <%= link_to(destroy_user_session_path, :method => :delete) do %>
        <i class="icon icon-share-alt"></i>
        <span class="text">Logout</span>
      <% end %>
    </li>
  <% elsif !user_signed_in?%>
    <li class="btn btn-inverse">
      <%= link_to "Login", new_user_session_path %>
    </li>
  <% end %>
</ul>

