- content_for :bts do
  = link_to "新增文人", new_admin_artist_path, class: 'btn'

.widget-box
  .widget-content.nopadding
    .dataTables_wrapper
      table.table.table-hover.table-bordered.with-check
        thead
          tr
            th 編號
            th 文人
            th 出生地點
            th 生平敘述
            th 操作            
        tbody
          - @artists.each do |artist|
            tr rowspan="1"
              td= artist.id
              td= artist.name
              td= artist.location_name
              td= artist.description
              td colspan="3"
                = link_to "作品列表", admin_artist_creations_path(artist), class: "btn btn-mini btn-primary"
                = link_to "編輯", edit_admin_artist_path(artist), class: "btn btn-mini"
                = link_to "刪除", admin_artist_path(artist), class: "btn btn-mini btn-danger", method: :delete, confirm: "請確認！！"
              
= paginate @artists