<div class="widget-box">
  <div class="widget-content nopadding">
    <%= simple_form_for @game, :url => admin_game_path, :method => :put, :wrapper => :admin do |g| %>
      <%= render :partial => 'form', :locals => { :f => g } %>
    <% end %>
  </div>
</div>