defaults: &defaults
  aws_host_carrierwave: "y"

  aws_region_carrierwave: "y"

  aws_bucket_carrierwave: "y"

  aws_secret_access_key: ""

  aws_access_key_id: ""

  app_name: ""
  host: "localhost"
  admin_emails: 
    - ""
  google_analytics_key: ""

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults


