<div class="widget-box">
  <div class="widget-content nopadding">
    <%= simple_form_for @dictionary, :url => admin_dictionary_path(@dictionary), :method => :put, :wrapper => :admin do |d| %>
      <%= render :partial => 'form', :locals => { :f => d } %>
    <% end %>
  </div>
</div>