<div class="widget-box">
  <div class="widget-content nopadding">
    <%= simple_form_for @creation, :url => admin_artist_creation_path(@artist, @creation), :method => :put, :wrapper => :admin do |c| %>
      <%= render :partial => 'form', :locals => { :f => c } %>
    <% end %>
  </div>
</div>